@page
@model Dajeej.Pages.AboutModel
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Localization
@{
	Layout = "_LayoutInner";
}

@*<section id="page-title" class="page-title-dark page-title-center p-0">

	<div class="fslider" data-arrows="false" data-pagi="false" data-animation="fade" data-hover="false">
		<div class="flexslider" style="height: 494.688px;">

			<div class="slider-wrap">
				<div class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><img src="public/images/about-us/page-title/1.jpg" alt="Page Title Image" draggable="false"></div>
				<div class="slide flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"><img src="public/images/about-us/page-title/2.jpg" alt="Page Title Image" draggable="false"></div>
				<div class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><img src="public/images/about-us/page-title/3.jpg" alt="Page Title Image" draggable="false"></div>
				<div class="slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><img src="public/images/about-us/page-title/4.jpg" alt="Page Title Image" draggable="false"></div>
			</div>

			<div class="vertical-middle vertical-middle-overlay">
				<div class="container clearfix">
					<h1>About Us</h1>
					<span>A Short Page Title Tagline</span>
					<ol class="breadcrumb justify-content-center">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">About-us</li>
					</ol>
				</div>
			</div>

		</div>
	</div>

</section>*@
<section id="page-title" class="page-title-parallax" style="background-image: url('public/images/slider/reg1.jpg'); background-position: bottom center; background-size: cover; padding: 80px 0;">

   
      <div class="container clearfix">
        
        <ol class="breadcrumb">
            <li class="breadcrumb-item" ><a ><h1 class="setNewColor">@sharedResource["About Us"]</h1></a></li>
        </ol>
    </div>

</section><!-- #page-title end -->
<section id="content">
	<div class="content-wrap mx-4"  style="font-size: 18px;">
		@{
			if (Model.BrowserCulture == "en-US")
        {
			@Html.Raw(@Model.ContentEn);
		}else{
			@Html.Raw(@Model.ContentAr);

		}
		}

		@*<div class="container clearfix">

			<div class="row col-mb-50 mb-0">
				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon bounceIn animated" data-animate="bounceIn">
							<a href="#"><i class="icon-medical-i-cardiology"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Intensive Care</h3>
							<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="200">
							<a href="#"><i class="icon-medical-i-social-services"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Family Planning</h3>
							<p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="400">
							<a href="#"><i class="icon-medical-i-neurology"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Expert Consultation</h3>
							<p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon bounceIn animated" data-animate="bounceIn">
							<a href="#"><i class="icon-medical-i-dental"></i></a>
						</div>
						<div class="fbox-content">
							<h3>Dental Sciences</h3>
							<p>Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="200">
							<a href="#"><i class="icon-medical-i-imaging-root-category"></i></a>
						</div>
						<div class="fbox-content">
							<h3>X-Ray Services</h3>
							<p>Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Retina Icons, Fonts &amp; all others graphics are optimized.</p>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="feature-box fbox-plain">
						<div class="fbox-icon bounceIn animated" data-animate="bounceIn" data-delay="400">
							<a href="#"><i class="icon-medical-i-ambulance"></i></a>
						</div>
						<div class="fbox-content">
							<h3>24x7 Emergency</h3>
							<p>Canvas includes tons of optimized code that are completely customizable and deliver unmatched fast performance.</p>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row counters clearfix mb-0 topmargin-sm align-items-stretch">

			<div class="col-lg-3 col-md-6 dark text-center min-vh-40" style="background: url('public/images/about-us/counters/1.jpg') no-repeat center center; background-size: cover;">
				<div class="bg-overlay">
					<div class="bg-overlay-content dark">
						<div>
							<i class="i-plain i-xlarge mx-auto icon-medical-i-surgery"></i>
							<div class="counter counter-lined"><span data-from="100" data-to="42762" data-refresh-interval="50" data-speed="2300">42762</span></div>
							<h5>of Treatments Made</h5>
						</div>
					</div>
					<div class="bg-overlay-bg op-ts op-1 not-animated" data-hover-animate="op-0" data-hover-animate-out="op-1" style="background-color: rgba(229, 57, 53, 0.8); animation-duration: 600ms;"></div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 dark text-center min-vh-40" style="background: url('public/images/about-us/counters/2.jpg') no-repeat center center; background-size: cover;">
				<div class="bg-overlay">
					<div class="bg-overlay-content dark">
						<div>
							<i class="i-plain i-xlarge mx-auto icon-medical-i-respiratory"></i>
							<div class="counter counter-lined"><span data-from="3000" data-to="21500" data-refresh-interval="100" data-speed="2500">21500</span></div>
							<h5>Cured Patients</h5>
						</div>
					</div>
					<div class="bg-overlay-bg op-ts op-1 not-animated" data-hover-animate="op-0" data-hover-animate-out="op-1" style="background-color: rgba(211, 47, 47, 0.8); animation-duration: 600ms;"></div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 dark text-center min-vh-40" style="background: url('public/images/about-us/counters/3.jpg') no-repeat center center; background-size: cover;">
				<div class="bg-overlay">
					<div class="bg-overlay-content dark">
						<div>
							<i class="i-plain i-xlarge mx-auto icon-medical-i-social-services"></i>
							<div class="counter counter-lined"><span data-from="20" data-to="408" data-refresh-interval="25" data-speed="3500">408</span>K</div>
							<h5>Satisfied Customers</h5>
						</div>
					</div>
					<div class="bg-overlay-bg op-ts animated op-1" data-hover-animate="op-0" data-hover-animate-out="op-1" style="background-color: rgba(198, 40, 40, 0.8); animation-duration: 600ms;"></div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 dark text-center min-vh-40" style="background: url('public/images/about-us/counters/4.jpg') no-repeat center center; background-size: cover;">
				<div class="bg-overlay">
					<div class="bg-overlay-content dark">
						<div>
							<i class="i-plain i-xlarge mx-auto icon-medical-i-ambulance"></i>
							<div class="counter counter-lined"><span data-from="60" data-to="140" data-refresh-interval="20" data-speed="2700">140</span></div>
							<h5>Ambulance Available</h5>
						</div>
					</div>
					<div class="bg-overlay-bg op-ts op-1 not-animated" data-hover-animate="op-0" data-hover-animate-out="op-1" style="background-color: rgba(183, 28, 28, 0.8); animation-duration: 600ms;"></div>
				</div>
			</div>

		</div>

		<div class="section mt-0" style="background: #FFF url('public/images/about-us/1.jpg') right center no-repeat / cover;">

			<div class="d-block d-md-block d-lg-none" style="background-color: rgba(238,238,238,0.9); position: absolute; top: 0;left: 0; z-index: 1;width: 100%; height: 100%;"></div>

			<div class="container clearfix">

				<div class="row justify-content-between">
					<div class="col-lg-6" data-lightbox="gallery">
						<div class="heading-block border-bottom-0 bottommargin-sm">
							<h3 class="nott ls0">What We do Actually</h3>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur necessitatibus placeat numquam enim adipisci nostrum facilis distinctio modi, cupiditate laborum ea eius repellendus? Obcaecati saepe numquam pariatur aliquid, aspernatur necessitatibus dolores harum quos eum esse, laudantium odit alias, iste dolorem!</p>
						<div class="feature-box fbox-plain fbox-sm mb-4">
							<div class="fbox-icon mt-2 fadeIn animated" data-animate="fadeIn">
								<a href="#"><i class="icon-medical-i-womens-health"></i></a>
							</div>
							<div class="fbox-content">
								<p class="mt-0">Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
							</div>
						</div>

						<div class="feature-box fbox-plain fbox-sm mb-4">
							<div class="fbox-icon mt-2 fadeIn animated" data-animate="fadeIn">
								<a href="#"><i class="icon-medical-i-ultrasound"></i></a>
							</div>
							<div class="fbox-content">
								<p class="mt-0">Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
							</div>
						</div>

						<div class="feature-box fbox-plain fbox-sm mb-4 bottommargin-sm">
							<div class="fbox-icon mt-2 fadeIn animated" data-animate="fadeIn">
								<a href="#"><i class="icon-medical-i-cath-lab"></i></a>
							</div>
							<div class="fbox-content">
								<p class="mt-0">Powerful Layout with Responsive functionality that can be adapted to any screen size. Resize browser to view.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="opening-table">
							<div class="heading-block bottommargin-sm border-bottom-0">
								<h4>Opening Hours</h4>
								<span>Lorem ipsum dolor sit amet, consecte adipisicing elit molestiae non.</span>
							</div>
							<div class="time-table-wrap clearfix">
								<div class="row time-table">
									<h5 class="col-lg-5">Monday</h5>
									<span class="col-lg-7">8:00am - 11:00pm</span>
								</div>
								<div class="row time-table">
									<h5 class="col-lg-5">Tuesday</h5>
									<span class="col-lg-7">8:00am - 11:00pm</span>
								</div>
								<div class="row time-table">
									<h5 class="col-lg-5">Wednesday</h5>
									<span class="col-lg-7">8:00am - 11:00pm</span>
								</div>
								<div class="row time-table">
									<h5 class="col-lg-5">Thursday</h5>
									<span class="col-lg-7">8:00am - 11:00pm</span>
								</div>
								<div class="row time-table">
									<h5 class="col-lg-5">Friday</h5>
									<span class="col-lg-7">8:00am - 11:00pm</span>
								</div>
								<div class="row time-table">
									<h5 class="col-lg-5">Saturday</h5>
									<span class="col-lg-7">8:00am - 1:30pm</span>
								</div>
								<div class="row time-table">
									<h5 class="col-lg-5">Sunday</h5>
									<span class="col-lg-7 color fw-semibold">Closed</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

		<div class="container clearfix">
			<div class="heading-block center border-bottom-0">
				<h3>Meet our Team of Specialists<span>.</span></h3>
				<span>We make sure that your Life are in Good Hands.</span>
			</div>

			<div id="oc-team" class="owl-carousel team-carousel carousel-widget owl-loaded owl-drag with-carousel-dots" data-margin="30" data-nav="true" data-pagi="true" data-items-xs="1" data-items-sm="2" data-items-lg="3" data-items-xl="4">

















				<div class="owl-stage-outer">
					<div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2652px;">
						<div class="owl-item active" style="width: 301.5px; margin-right: 30px;">
							<div class="team">
								<div class="team-image">
									<img src="public/images/doctors/1.jpg" alt="Dr. John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Dr. John Doe</h4><span>Cardiologist</span></div>
								</div>
							</div>
						</div><div class="owl-item active" style="width: 301.5px; margin-right: 30px;">
							<div class="team">
								<div class="team-image">
									<img src="public/images/doctors/2.jpg" alt="Dr. John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Dr. Bryan Mcguire</h4><span>Orthopedist</span></div>
								</div>
							</div>
						</div><div class="owl-item active" style="width: 301.5px; margin-right: 30px;">
							<div class="team">
								<div class="team-image">
									<img src="public/images/doctors/3.jpg" alt="Dr. John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Dr. Mary Jane</h4><span>Neurologist</span></div>
								</div>
							</div>
						</div><div class="owl-item active" style="width: 301.5px; margin-right: 30px;">
							<div class="team">
								<div class="team-image">
									<img src="public/images/doctors/4.jpg" alt="Dr. John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Dr. Silvia Bush</h4><span>Dentist</span></div>
								</div>
							</div>
						</div><div class="owl-item" style="width: 301.5px; margin-right: 30px;">
							<div class="team">
								<div class="team-image">
									<img src="public/images/doctors/6.jpg" alt="Dr. John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Dr. Hugh Baldwin</h4><span>Cardiologist</span></div>
								</div>
							</div>
						</div><div class="owl-item" style="width: 301.5px; margin-right: 30px;">
							<div class="team">
								<div class="team-image">
									<img src="public/images/doctors/7.jpg" alt="Dr. John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Dr. Erika Todd</h4><span>Neurologist</span></div>
								</div>
							</div>
						</div><div class="owl-item" style="width: 301.5px; margin-right: 30px;">
							<div class="team">
								<div class="team-image">
									<img src="public/images/doctors/8.jpg" alt="Dr. John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Dr. Randy Adams</h4><span>Dentist</span></div>
								</div>
							</div>
						</div><div class="owl-item" style="width: 301.5px; margin-right: 30px;">
							<div class="team">
								<div class="team-image">
									<img src="public/images/doctors/9.jpg" alt="Dr. John Doe">
								</div>
								<div class="team-desc">
									<div class="team-title"><h4>Dr. Alan Freeman</h4><span>Eye Specialist</span></div>
								</div>
							</div>
						</div>
					</div>
				</div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><i class="icon-angle-left"></i></button><button type="button" role="presentation" class="owl-next"><i class="icon-angle-right"></i></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
			</div>

		</div>*@
	</div>
</section>