@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_LayoutInner";
}
<section id="page-title" class="page-title-parallax" style="background-image: url('public/images/slider/reg1.jpg'); background-position: bottom center; background-size: cover; padding: 80px 0;">

   
      <div class="container clearfix">
        
        <ol class="breadcrumb">
            <li class="breadcrumb-item" ><a ><h1 class="setNewColor">@sharedResource["Privacy Policy"]</h1></a></li>
        </ol>
    </div>

</section><!-- #page-title end -->


<div class="sellerterms-container mx-4" style="font-size: 18px;">
<div class="row pad20-t">
<div class="col-xs-12 mt-4">
<p class="mainhead">@sharedResource["PRIVACY NOTICE"]</p>
</div>
</div>
<div class="row mar10-t">
<div class="col-xs-12">
<p class="headline">@sharedResource["1. INTRODUCTION"]</p>
<hr>
<p class="term-desc">@sharedResource["This Privacy Notice describes how Dajeej, the owner and/or operator of this Site, collects and Processes your Personal Data for the promotion, fulfillment and provision of Dajeej Services. By visiting this Site, providing your Personal Data or checking or purchasing Dajeej Services, you expressly agree to be bound by the terms and conditions of this Privacy Notice. If you do not agree, please do not use or access this Site or use any Dajeej Services."]</p>
</div>
</div>
<div class="row mar10-t">
<div class="col-xs-12">
<p class="headline">@sharedResource["2. DEFINITIONS"]</p>
<hr>
<p class="term-desc"><span class="subhead">@sharedResource["“Affiliate”"] </span> @sharedResource["means, with respect to any person or entity, any other person or entity who, directly or indirectly, through one or more intermediaries, Controls, is Controlled by or is under common Control with such person or entity;"]</p>



<p class="term-desc"><span class="subhead">@sharedResource["“Applicable Laws”"]</span> @sharedResource["means any Personal Data privacy or protection law, statute, treaty, rule, regulation, regulatory or legislative requirement, ordinance, license, restriction, judicial or administrative order, code, common law or other pronouncement having the effect of law in the State of Kuwait;"]</p>


<p class="term-desc"><span class="subhead"> @sharedResource["“Control” including the terms “controlling”, “controlled by” and “under common control with”"]</span> @sharedResource["means the possession, directly or indirectly, of more than 50% of the power to direct or cause the direction of the management and policies of a person or entity, whether through the ownership of voting securities, as trustee or executor or as general partner, by contract or otherwise, including the ownership, directly or indirectly, of securities having the power to elect a majority of the board of directors or similar body governing the affairs of such person or entity;"]</p>


<p class="term-desc"><span class="subhead">@sharedResource["“Data Subject” or “you”"]</span>@sharedResource["means an identified or identifiable living individual natural person to whom Personal Data relates and that is using this Site or Dajeej Services;"] </p>

<p class="term-desc"><span class="subhead">@sharedResource["“Personal Data”"]</span>@sharedResource["means any information relating to a Data Subject who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that Data Subject;"] </p>

<p class="term-desc"><span class="subhead">@sharedResource["“Privacy Notice”"]</span>@sharedResource["means this set of terms and conditions that regulates the Processing of the Personal Data;"] </p>

<p class="term-desc"><span class="subhead">@sharedResource["“Processing”"]</span>@sharedResource["means any operation or set of operations which is performed on Personal Data or on sets of Personal Data, whether or not by automated means, such as collection, recording, organization, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction;"]</p>

<p class="term-desc"><span class="subhead">@sharedResource["“Site”"]</span>@sharedResource["means the website, the primary home page of which is identified by the url www.Dajeej.com and any mobile device application or desktop application, developed by Alghanim or on its behalf, and any successor or replacement of such;"]</p>

<p class="term-desc"><span class="subhead">@sharedResource["“Sensitive Personal Data”"]</span>@sharedResource["means Personal Data that reveals your racial or ethnic origin, religious, political or philosophical beliefs or trade union membership, genetic data, biometric data for the purposes of unique identification;"]</p>


<p class="term-desc"><span class="subhead">@sharedResource["“Dajeej Services”"]</span> @sharedResource["means the products and services offered by Dajeej whether online on this Site or any other website, in showrooms and/or service and call centers that reference to this Privacy Policy."]</p>
</div>
</div>

</div>